<?xml version="1.0" encoding="UTF-8"?>

<included>

<!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <appender name="BASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/Perso/Dev/projets/extreme-carpaccio-java-server/target/all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%25thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="EVENTS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/events.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%25thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="QUESTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/questions.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%25thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FEEDBACKS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/feedbacks.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d %-5level [%25thread] %logger{0}: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_BASE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="BASE"/>
    </appender>

    <appender name="ASYNC_QUESTIONS" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="QUESTIONS"/>
    </appender>

    <appender name="ASYNC_FEEDBACKS" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FEEDBACKS"/>
    </appender>

    <appender name="ASYNC_EVENTS" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="EVENTS"/>
    </appender>

    <logger name="fr.arolla" level="INFO"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>

    <logger name="fr.arolla.events" level="DEBUG">
        <appender-ref ref="ASYNC_EVENTS" />
    </logger>

    <logger name="fr.arolla.infra.RxNettyQuestionDispatcher" level="DEBUG">
        <appender-ref ref="ASYNC_QUESTIONS" />
    </logger>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="WARN">
        <appender-ref ref="ASYNC_BASE"/>
    </root>

</included>
