<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!--<include resource="logback-prod.xml" />-->
    <if condition='isDefined("spring.profiles.active")'>
        <then>
            <include resource="logback-${spring.profiles.active}.xml" />
        </then>
        <else>
            <include resource="logback-dev.xml" />
        </else>
    </if>
</configuration>

